html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.day {
	background-color: #81d4fa;
}
.night {
	background-color: #263238;
}

.or-text {
	display: block;
	margin: 0px auto;
	width: 8px;
}

.degree-text {
	font-family: 'Baloo', cursive;
	font-size: 3rem;
}

.icon-weather {
    display: none;
    margin: 60px auto 0px;
    width: 200px;
}

.icon-weather.active {
	display: block;
}

.location-text {
	font-size: 1rem;
}

.splashscreen {
	background-color: #81d4fa;

	position: absolute;

	height: 100%;
	width: 100%;

	z-index: 1000;
}

.footer {
	
}